/* Reset. */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

ol, ul {
  list-style: none;
}

body {
  line-height: 1.5;
}

/* Page styles. */

* {
  overflow-wrap: break-word;
}

:root {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
}

body {
  padding: 2rem;
  max-width: 50rem;
}

@media screen and (max-width: 480px) {
  body {
    padding: 1rem;
  }
}

body > * + * {
  margin-top: 0.5rem;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;  
}

h2 {
  font-size: 2rem;  
  margin-top: 0.75em;
}

ul {
  list-style: disc;
}

ul > li {
  margin-left: 1.5em;
}
