*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

:root {
  background: #eee;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2;
}

@media (max-width: 480px) {
  :root {
    line-height: 1.75;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

main {
  max-width: 48rem;
  padding: 1rem;
  margin: 0 auto;
}

@media (max-width: 480px) {
  main {
    padding: 0.5rem;
  }
}

main > * + * {
  margin-top: 1.5rem;
}

main a {
  border-radius: 0.25em;
  margin: 0 -0.125em;
  padding: 0 0.125em;
  color: #24f;
}

main a:hover {
  background-color: #ddf;
}

main a:active {
  background-color: #bbf;
}

main a:visited {
  color: #80f;
}

main a:visited:hover {
  background-color: #edf;
}

main a:visited:active {
  background-color: #dbf;
}

main ul {
  list-style: disc;
}

main ul ul {
  list-style: circle;
}

main ol {
  list-style: decimal;
}

main ol ol {
  list-style: lower-alpha;
}

main ul > li,
main ol > li {
  margin-left: 1.5em;
}

main ul > * + *,
main ol > * + *,
main li > * + * {
  margin-top: 0.5rem;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  line-height: 1.25;
  font-weight: 300;
}

main h1 code,
main h2 code,
main h3 code,
main h4 code,
main h5 code,
main h6 code {
  font-weight: 300;
}

main h2,
main h3,
main h4,
main h5,
main h6 {
  padding-top: 0.5em;
}

main h1 {
  font-size: 2.5em;
}

main h2 {
  font-size: 2em;
}

main h3 {
  font-size: 1.6em;
}

main h4 {
  font-size: 1.28em;
}

main h5 {
  font-size: 1em;
}

main h6 {
  font-size: 0.8em;
}

main code {
  border-radius: 0.5em;
  margin: -0.125em 0;
  padding: 0.125em 0.25em;
  background: #fdf6e3;
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  filter: drop-shadow(0.5px 0.5px 1px rgba(0, 0, 0, 0.25));
}

main pre {
  background: #fdf6e3;
  border-radius: 1.5rem;
  padding: 1rem;
  font-size: 0.8em;
  line-height: 1.5;
  overflow-x: auto;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
}

@media (max-width: 480px) {
  main pre {
    border-radius: 1rem;
    padding: 0.5rem;
  }
}

main pre code {
  border-radius: 0;
  margin: 0;
  padding: 0;
  background: none;
  font-weight: 600;
  filter: none;
}

.hljs-built_in,
.hljs-doctag,
.hljs-variable.language_ {
  color: #4de;
}

.hljs-comment {
  color: #aaa;
}

.hljs-keyword,
.hljs-char.escape_ {
  color: #fd4;
}

.hljs-literal,
.hljs-number,
.hljs-regexp,
.hljs-string {
  color: #e65;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-subst {
  color: #c7f;
}

.hljs-type {
  color: #7d4;
}
