*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

$main-max-width-factor: 42;

@mixin scaled-styles($unit) {
  $main-padding: $unit;
  $main-max-width: $main-max-width-factor * $unit;

  :root {
    background: #fff;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 2;
  }

  body {
    font-size: $unit;
  }

  main {
    max-width: $main-max-width;
    margin: 0 auto;
    padding: $main-padding;

    & > * + * {
      margin-top: 1.5 * $unit;
    }

    a {
      border-radius: 0.25em;
      margin: -0.125em -0.125em;
      padding: 0.125em 0.125em;

      &.link {
        color: #24f;
        text-decoration: underline;

        &:hover {
          background-color: #ddf;

          * {
            background-color: inherit;
          }
        }

        &:active {
          background-color: #bbf;

          * {
            background-color: inherit;
          }
        }

        &:visited {
          color: #80f;

          &:hover {
            background-color: #edf;

            * {
              background-color: inherit;
            }
          }

          &:active {
            background-color: #dbf;

            * {
              background-color: inherit;
            }
          }
        }
      }
    }

    header,
    ul,
    ol,
    li {
      & > * + * {
        margin-top: 0.5 * $unit;
      }
    }

    ul,
    ol {
      margin-left: $unit;

      & > li {
        margin-left: 1.5em;
      }
    }

    ul {
      list-style: disc;

      ul {
        list-style: circle;
      }
    }

    ol {
      list-style: decimal;

      ol {
        list-style: lower-alpha;
      }
    }

    header {
      font-weight: 300;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.25;
      font-weight: 300;

      code {
        font-weight: 300;
      }

      & > a {
        color: inherit;

        @media (hover: hover) {
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }

        &:active {
          background-color: #eee;
        }
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: 0.5em;
    }

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.6em;
    }

    h4 {
      font-size: 1.28em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: 0.8em;
    }

    $subtle-border: 1px solid #ddd;
    $code-background: #fefaf1;

    code {
      border: $subtle-border;
      border-radius: 0.5em;
      margin: -0.125em 0;
      padding: 0.125em 0.25em;
      background: $code-background;
      font-family: "Source Code Pro", monospace;
      font-weight: 400;
    }

    aside,
    pre {
      border: $subtle-border;
      border-radius: $unit;
      margin-left: -1 * $main-padding;
      margin-right: -1 * $main-padding;
      padding: $unit;

      @media (max-width: $main-max-width) {
        border-radius: 0;
      }
    }

    pre {
      background: $code-background;
      font-size: 0.8em;
      line-height: 1.5;
      overflow-x: auto;
    }

    pre code {
      border: none;
      border-radius: 0;
      margin: 0;
      padding: 0;
      background: none;
      font-weight: 600;
    }

    .info {
      background: #def;
    }

    .warning {
      background: #fea;
    }

    figure {
      img {
        border: 1px solid #888;
        width: 100%;
      }

      figcaption {
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

@include scaled-styles(1.25rem);

@media (max-width: ($main-max-width-factor * 1.25rem)) {
  @include scaled-styles(1rem);
}
