*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

ol,
ul {
  list-style: none;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

$main-max-width-factor: 42;

@mixin scaled-styles($unit) {
  $main-padding: $unit;
  $main-max-width: $main-max-width-factor * $unit;

  :root {
    background: #eee;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 2;
  }

  body {
    font-size: $unit;
  }

  main {
    max-width: $main-max-width;
    margin: 0 auto;
    padding: $main-padding;

    & > * + * {
      margin-top: 1.5 * $unit;
    }

    a {
      border-radius: 0.25em;
      margin: 0 -0.125em;
      padding: 0 0.125em;
      color: #24f;

      &:hover {
        background-color: #ddf;
      }

      &:active {
        background-color: #bbf;
      }

      &:visited {
        color: #80f;

        &:hover {
          background-color: #edf;
        }

        &:active {
          background-color: #dbf;
        }
      }
    }

    ul,
    ol,
    li {
      & > * + * {
        margin-top: 0.5 * $unit;
      }
    }

    ul,
    ol {
      & > li {
        margin-left: $unit;
      }
    }

    ul {
      list-style: disc;

      ul {
        list-style: circle;
      }
    }

    ol {
      list-style: decimal;

      ol {
        list-style: lower-alpha;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.25;
      font-weight: 300;

      code {
        font-weight: 300;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: 0.5em;
    }

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.6em;
    }

    h4 {
      font-size: 1.28em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: 0.8em;
    }

    $code-background: #fdf6e3;

    code {
      box-shadow: 1px 1px 3px #0003;
      border-radius: 0.5em;
      margin: -0.125em 0;
      padding: 0.125em 0.25em;
      background: $code-background;
      font-family: "Source Code Pro", monospace;
      font-weight: 500;
    }

    pre {
      box-shadow: 2px 2px 6px #0003;
      background: $code-background;
      border-radius: 1.5 * $unit;
      margin-left: -1 * $main-padding;
      margin-right: -1 * $main-padding;
      padding: $unit;
      font-size: 0.8em;
      line-height: 1.5;
      overflow-x: auto;
    }

    @media (max-width: $main-max-width) {
      pre {
        border-radius: 0;
      }
    }

    pre code {
      border-radius: 0;
      margin: 0;
      padding: 0;
      background: none;
      font-weight: 600;
      box-shadow: none;
    }
  }
}

@include scaled-styles(1.25rem);

@media (max-width: ($main-max-width-factor * 1.25rem)) {
  @include scaled-styles(1rem);
}
